<h6>DashBoard</h6>
<h3>Welcome <%=name %></h3>
<p>Here are your stories</p>
<% if(stories.length > 0 || stories.length !=0) {%>
    <table class="striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            
                <% stories.forEach(function(item){%>
                    <tr>
                        <td><a href="/stories/edit/<%=item._id%>"><%= item.title%></a></td>
                       <td>
                            <%= formatDate(item.createdAt, "MMMM Do YYYY, h:mm:ss a")%>
                       </td>
                       <td>
                        <span class="dash-status"><%=item.status%></span>
                       </td>
                       <td>
                        <a href="/stories/edit/<%=item._id %>" class="btn btn-float">
                            <i class="fas fa-edit"></i>
                        </a>
                        <form action="/stories/<%= item._id %>" method ="POST">
                            <input type="hidden" name ="_method" value ="DELETE">
                            <button class="btn red delete-button" type="submit" name="delete-button" id = "delete-button" data-id ="<%= item._id%>">
                                
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                       </td>
                    </tr>
                    <script>
                        document.addEventListener('DOMContentLoaded',function(){
                            const deleteButtons = document.querySelectorAll('[id="delete-button"]');
                            console.log("Somethings Wrong I can feel it")

                            deleteButtons.forEach(button =>{
                                button.addEventListener('click', async function(event){
                                  
                                    const userConfirm = window.confirm("Are you sure you want to delete your story? It CANNOT be retrieved Later");
                                    if(!userConfirm){
                                        event.preventDefault();//prevent default for behaviour
                                        
                                    }
                                    
                                    
                                })
                            })
                        })
                    </script>
                     
                    
                <% })%>
           

        </tbody>
    </table>


<% } else {%>
<p>No Stories yet!</p>
<%}%>
